extends ../layout
block content
  .wrapper.container-fluid
    .col-xl-12.jumbotron
      select(ng-model='route', ng-change="init(route)")
        optgroup(label="Grupos")
          option(value='setiva') setiva
          option(value='sertecs') sertecs
          option(value='sauri') sauri
      include blank
    .col-md-4.float-md-left.jumbotron(ng-repeat='object in objects')   
      ul.list-group
        li.list-group-item  
          h1(ng-hide='object.showInput') {{object.articulo}}
          input.form-control(ng-show='object.showInput' ng-model="object.articulo")
        li.list-group-item
          h4(ng-hide='object.showInput') Cantidad {{object.cantidad}}
          input.form-control(ng-show='object.showInput' ng-model="object.cantidad")    
        li.list-group-item
          h4(ng-hide='object.showInput') Precio {{object.precio | currency}}
          input.form-control(ng-show='object.showInput' ng-model="object.precio")      
        li.list-group-item.img
          img.img-rounded.img-responsive(data-ng-src='data:{{object.img.mimetype}};base64,{{object.img.data}}', width="220px", length="100px")
        button.btn.btn-warning(ng-click="toggleShowInput($index)",ng-hide='object.showInput') Editar
        button.btn.btn-success(ng-click="putObject(object, route,object._id,$index)", ng-show='object.showInput') Guardar
        button.btn.btn-danger(ng-click="deleteObject(object._id, objects, $index, route)") Borrar
